body{
    margin: 0;
    padding: 0;
    background-color: #f5f3f2;
}
/* 刷新按钮 */
.button{
    position: absolute;
    left: 64%;
    top: 4%;
}
#editBtn{
    height: 30px;
    width: 30px;
}
#editBtn:hover{
    scale:1.2;
}

/* 搜索框 */
.search-box{
    position: absolute;
    left: 50%;
    top: 3%;
    transform: translate(-50%,-50%);
    background-color: #5698c3;
    height: 30px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 40px;
}
.search-txt{
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    font: 16px sans-serif;
    line-height: 30px;
    width: 0;
    /* 动画过渡 */
    transition: 0.4s;
}
.search-txt::placeholder{
    color: #ffffff67;
}
.search-btn{
    color: #fff;
    float: right;
    width: 3cap;
    height: 30px;
    border-radius: 50%;
    background-color: #5698c3;
    /* 弹性布局 水平垂直居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* 动画过渡 */
    transition: 0.4s;
}
.search-box .search-txt{
    width: 200px;
    padding: 0 6px;
}
.search-box .search-btn{
    background-color: #5698c3;
}

/* 搜索框返回 */
.show-box{
    margin: 0 auto;
    /* background-color: pink; */
    max-width: 430px;
    padding: 56px;
}
ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}
li {
    font-family: serif;
    margin: 5px;
    padding: 5px;
    border: 1.3px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-size: 14px;
    
}
li span{
    font-weight: bold;
    font-size: 16px;
    color: #2F90BA;
    font-family: serif;
}

/* 左侧统计栏目 */
.count{
    /* background-color: pink; */
    position: absolute;
    left: 3%;
    top:8%;
    width: 350px;
    font-family: serif;
    font-size: 20px;
    text-align: center;
}
.count span{
    font-size: 32px;
    font-family: 'serif';
    color: #ecbc41;
    font-weight: bold;
}
#special{
    font-size: 22px;
    color: #2966cf;
    font-weight: bold;
}

/* 词云图 */
#cloudtitle{
    margin-top: 25px;
}

#cloudtitle span{
    font-size: 20px;
    margin-bottom: 3px;
    font-weight: bold;
    color: #2966cf;
}
#cloudtitle2 span{
    font-size: 20px;
    margin-bottom: 3px;
    font-weight: bold;
    color: #2966cf;
}
.wordcount{
    margin-top: -20px;
    width: 320px;
}
#line{
    width: 125%;
    height: 300px;
    top: -45px;
    left: -25px;
}
#totalcount{
    margin-top: -20px;
}
.wordcount2{
    width: 320px;
    height: 280px;
    margin-top: 30px;
}
#cloudtitle2{
    margin-top: 5px;
    margin-bottom: 15px;
}
#image{
    padding-left: 15px;
}
/* 右边 */
.right{
    position: absolute;
    left: 71%;
    top: 5%;
    width: 320px;
    height: 530px;
    font-family: serif;
    font-size: 20px;
    text-align: center;
    margin-left: 1%;
    /* background-color: pink; */
}

/* 三个小按钮 */
.shared-box{
    margin-top: 20px;
}
.shared-box button{
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    border: none;
    font-family: serif;
    font-weight: bold;
    background: linear-gradient(to right, rgba(135, 207, 235, 0.598), rgba(225, 238, 162, 0.594));
}

/* 按钮结果返回 */
#itemList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 其他的 CSS 属性 */
    background: linear-gradient(to bottom, #dbedfb, #f6f9e4);
    background-size: cover; 
    border-radius: 10px;
    min-height: 100px;
}

#itemList li {
    font-family: serif;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    border: none;
    /* border-radius: 10px; */
    background-color: rgba(255, 0, 0, 0);
    font-size: 16px;
    color: #1e3b7a;
}